@import "common.less";


.alert {
	color: #FFF;
	max-width: 500px;
	max-height: 500px;
	font-size: 24px;
	weight: bold;
	background-color: rgba(0, 0, 0, 0.7);
	.rounded(5px);
	text-align: center;
	padding: 20px;
}

.alert > div {
	clear: both;
}


.alert-button, .alert-ok {
	padding: 5px;
	font-size: 15px;
	color: #000;
	text-decoration: none;
	background-color: #FFF;
	.rounded(5px);
}
