---
layout: default
title: Bark.js by Browsertap
---

{% capture scripts %}
<link rel="stylesheet" type="text/css" href="css/bark.css" media="screen" />

<script type="text/javascript" src="examples/index.js"></script>
{% endcapture %}

{% capture content %}

<div id="container">
  <div class="inner">

    <header>
      <h1>Bark.js</h1>
      <h2>beautiful css3 javascript notification system</h2>
    </header>

    <section id="downloads" class="clearfix">
      <a href="https://github.com/crcn/bark.js/zipball/master" id="download-zip" class="button"><span>Download .zip</span></a>
      <a href="https://github.com/crcn/bark.js/tarball/master" id="download-tar-gz" class="button"><span>Download .tar.gz</span></a>
      <a href="https://github.com/crcn/bark.js" id="view-on-github" class="button"><span>View on GitHub</span></a>
    </section>

    <hr>

    <!--section id="main_content">
    </section-->

      <div id="examples-container"></div>

      <div id="run-code-container">
        <a id="run-code" href="#">Run This Code</a>
      </div>
      <h1> Bark Script </h1>
      <div class="editor">
       <div id="javascript-editor"></div>
      </div>

      <h1> CSS </h1>
      <div class="editor">
        <div id="css-editor"></div>
      </div>

      <h1> EJS Template </h1>
      <div class="editor">
        <div id="html-editor"></div>
      </div>


    <!--{% include footer.html %}-->

    
  </div>
</div>

{% endcapture %}

{% include default-layout.html %}