<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>{{ page.title }}</title>
	<script type="text/javascript" src="./js/head.js"></script>


	{{ scripts }}

	<script type="text/javascript">
			head.js("./js/jquery.js"  , "./js/less.js", "./js/transit.js", "./js/underscore.js", "./js/bark.js?" + Math.random(), headReady);
	</script>
</head>
<body> 
	{{ content }}
</body>
</html>